<h1>This is the EDIT page</h1>

<p style="color: red">
    <% if @article.errors.any? %> 
        <b>The article could not be created because of the following errors: </b>
        <ul>
            <% @article.errors.full_messages.each do |err_msg| %>
                <li style="color: red"><%= err_msg %></li>
            <% end %>
        </ul>
    <% end %>
</p>

<%= form_with(model: @article, local: true) do |f| %>

    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %> <br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>