<h1 align="center">This is the ARTICLES LISTING page</h1>

<div class="container">
    <% @articles.each do |art| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center">
                    <div class="card-header fst-italic">
                        by User
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= art.title %></h5>
                        <p class="card-text"><%= truncate(art.description, length: 100) %></p>
                        <%= link_to 'Show', article_path(art), class: "btn btn-outline-success" %>
                        <%= link_to 'Edit', edit_article_path(art), class: "btn btn-outline-info" %>
                        <%= link_to 'Delete', article_path(art), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                    </div>
                    <div class="card-footer text-muted">
                        <small>Create <%= time_ago_in_words(art.created_at) %> ago, edited <%= time_ago_in_words(art.updated_at) %> ago </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<!-- Table view -->
<!--
<div class="container">
    <table align="center" class= "table table-striped table-hover">
        <thead align="center">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody align="center">
            <% @articles.each do |art| %>
            <tr>
                <td><%= art.title %></td>
                <td><%= art.description %></td>
                <td>
                    <button><%= link_to 'Show', article_path(art) %></button>
                    <button><%= link_to 'Edit', edit_article_path(art) %></button>
                    <button><%= link_to 'Delete', article_path(art), method: :delete, data: {confirm: "Are you sure?"} %></button>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div> %>
-->

<p class="mt-4 text-center">
    <button><%= link_to 'New Article', new_article_path %></button>
</p>