<h1 class="text-center mt-4"><%= @article.title %></h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center">
                <div class="card-header fst-italic">
                    <% if @article.user %>
                        by <%= link_to @article.user.username, user_path(@article.user) %>
                    <% end %>
                </div>
                <div class="card-body">
                    <div class="card-text text-left">
                        <%= simple_format(@article.description) %>
                    </div>
                    <%= link_to 'Back', articles_path, class: "btn btn-outline-info" %>
                    <% if logged_in? && ( @article.user == current_user || current_user.admin? ) %>
                        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-success" %>
                        <%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small>Create <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago </small>
                </div>
            </div>
        </div>
    </div>
</div>

<%# Old Show page is commented out %>
<!---

<h1 align="center">This is the SHOW page</h1>
<p align="center">
    <strong>Title: </strong> <%= @article.title %> <br>
    <strong>Description: </strong> <%= @article.description%> <br>
</p>
<p align="center"> 
    <button><%= link_to 'Back', articles_path %></button>
    <button><%= link_to 'Edit', edit_article_path(@article) %></button>
    <button><%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></button>
</p>

--->