<div class="container">
    <% @users.each do |user| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center">
                    <div class="card-header fst-italic">
                        <%= link_to user.username, user %>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <%= link_to gravatar_for(user, size: 150), user %>
                        </div> 
                        <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
                        <%= link_to "View Profile", user, class: "btn btn-outline-success" %>  
                        <% if logged_in? %>
                            <% if user == current_user %>
                                <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-info" %> 
                                <%= link_to "Delete account", user_path(current_user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "This action will delete your account and all associated articles as well, are you sure you want to delete your account" } %>
                            <% end %>
                            <% if current_user.admin? && !user.admin? %>
                                <%= link_to "Delete account", user_path(user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "This action will delete this account and all associated articles as well, are you sure you want to delete this account" } %>
                            <% end %>    
                        <% end %>          
                    </div>
                    <div class="card-footer text-muted">
                        <small>Joined <%= time_ago_in_words(user.created_at) %> ago, updated <%= time_ago_in_words(user.updated_at) %> ago </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>