<footer class="bg-dark footer navbar-fixed-bottom text-center text-white">
<!-- Grid container -->
<div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
        <!-- Facebook -->
        <%= link_to "https://www.facebook.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-facebook-f "></i>
        <% end %>

        <!-- Twitter -->
        <%= link_to "https://www.twitter.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-twitter"></i>
        <% end %>

        <!-- Google -->
        <%= link_to "https://www.google.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-google"></i>
        <% end %>

        <!-- Instagram -->
        <%= link_to "https://www.instagram.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-instagram"></i>
        <% end %>

        <!-- Linkedin -->
        <%= link_to "https://www.linkedin.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-linkedin-in"></i>
        <% end %>

        <!-- Github -->
        <%= link_to "https://www.gitub.com",  class: "btn btn-outline-light btn-floating m-1" do %>
            <i class="fab fa-github"></i>
        <% end %>
    </section>
    <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    Nobody
</div>
<!-- Copyright -->
</footer>